
#myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
}


/*color*/

.red{
  background-color: red;
}
.yellow{
  background-color: yellow;
}

.bk{
  background-color: black;
}

.fntw{
  color:white;
}


/*font*/
.karla{
  font-family: 'Karla', sans-serif;
}

.rozha{
  font-family: 'Rozha One', serif;
}

.fran{
    font-family: 'Francois One', sans-serif;
}

.varela{
    font-family: 'Varela Round', sans-serif;
}

.huge{
  font-size: 8em;
  line-height: 80%;
}

/*sizing*/
.nav{
  height:8vh;
  padding-bottom: 2vh;
}
.mnbody{
  height: 95vh;
}

/*positions*/

.mdd{
  margin-top: 25vh;
}

.mnimg{
  width: 600px;
  margin-top: 4em;
}

.helper{
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

.ysp{
    padding-top:10vh;
}

.all{
    position: absolute;
    width: 100%;
}

.break-word{
    overflow-wrap: break-word;
}


/*for video*/
.fullscreen-bg {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    z-index: -100;
    text-align: center;
}

.fullscreen-bg__video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

@media (max-aspect-ratio: 16/9) {
  .fullscreen-bg__video {
    width:auto ;
    max-height:100%;
  }
}

@media (max-width: 1920px) {
  .fullscreen-bg__video {
    height: auto;
  }
}


.arrowed {
  position: relative;
  left:2em;
  top:40vh;
	height: 200px; width: 200px;
	margin: 0 20px 20px 0;
	border: 1px solid rgba(0,0,0,0.25);
}

.arrow-1 {
	height: 15px; width: 15px;
	border: 1px solid white;
	border-width: 2px 2px 0 0;
	transform: rotate(45deg);
}

.arrow-2 {
	height: 15px; width: 15px;
	border: 1px solid white;
	border-width: 2px 0 0 0;
}



/*pre&next*/
.slides-nav {
  z-index: 99;
  position: fixed;
  right: -10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  color: white;
}
@media (min-width: 54em) {
  .slides-nav {
    right: 2%;
  }
}
.slides-nav__nav {
  position: relative;
  right: 5vh;
  display: block;
  font-size: 1em;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  -webkit-transform-origin: center;
          transform-origin: center;
}
.slides-nav button {
  position: relative;
  display: inline-block;
  padding: 0.35em;
  margin: 0;
  /*font-family: "Space Mono", monospace;*/
  color:white;
  background: transparent;
  border: 0;
  overflow-x: hidden;
  -webkit-transition: color 0.5s ease;
  transition: color 0.5s ease;
}
.slides-nav button:after {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  height: 1px;
  width: 0;
  background: white;
  -webkit-transition: width 0.4s ease;
  transition: width 0.4s ease;
}
.slides-nav button:hover {
  cursor: pointer;
  color: white;
  -webkit-transition: color 0.5s ease;
  transition: color 0.5s ease;
}
.slides-nav button:hover:after {
  width: 100%;
  -webkit-transition: width 0.4s ease;
  transition: width 0.4s ease;
}
.slides-nav button:focus {
  outline: 0;
}
.is-sliding .slides-nav {
  pointer-events: none;
}



/*arrow2*/
a.button {
  position: relative;
  display: inline-block;
  width: 6.5em;
  height: 2em;
  overflow: hidden;
  vertical-align: middle;
  text-align: left;
  text-decoration: none;
  color: #fff;
  cursor: pointer;
}
a.button svg {
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
  stroke-width: 2px;
}
a.button svg g line,
a.button svg g polyline{
  fill: none;
  stroke: #fff;
}
<<<<<<< HEAD

=======
>>>>>>> 5522a2a68afef4c6fcf5ce6f179c4ef430f21510
